.item-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 2em;
  row-gap: 2em;
  margin: 3%;
}
.item {
  height: 6em;
  width: auto;
}
.img-container {
  width: 100%;
  height: auto;
}
.card-footer {
  display: flex;
  justify-content: space-between;
}
